---
import HeaderLink from "./HeaderLink.astro"
---

<header>
  <nav class="grid grid-cols-3 h-12">
    <div class="flex flex-row justify-center items-center col-start-2">
      <HeaderLink href="/">Home</HeaderLink>
    </div>
  </nav>
</header>
