---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="grid grid-cols-3 h-12">
		<h2><a href="/">Resume</a></h2>
		<div class="flex flex-row justify-center items-center">
			<HeaderLink href="/">Home</HeaderLink>
		</div>
	</nav>
</header>

