---
import BaseLayout from "../../layouts/BaseLayout.astro"
import ProjectCard from "../../components/ProjectCard.astro"
import projects from "./projects.json"
---

<BaseLayout title="Projects" description="A list of projects I've worked on">
  <div class="grid grid-cols-3 gap-4 px-16 py-4 h-full">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.name}
          description={project.description}
          repository={project.repository}
          img={project.img}
        />
      ))
    }
  </div>
</BaseLayout>
